* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: auto;
}

.post-selected {
  position: fixed;
  top: 32px;
  animation: expand 0.5s forwards;
  height: auto;
  overflow: hidden;
  z-index: 50;
}

.post-normal {
  animation: shrink 0.4s forwards;
}

@keyframes expand {
  0% {
    width: 300px;
    height: auto;
    font-size: 1em;
  }

  100% {
    width: 450px;
    height: auto;
    font-size: 1.25em;
  }
}

@keyframes shrink {
  100% {
    width: 300px;
    height: auto;
    font-size: 1em;
  }

  90% {
    position: relative;
  }

  0% {
    width: 450px;
    height: auto;
    font-size: 1.25em;
  }
}

button, input[type=submit], .fake-button { 
  border: 2px solid  #E87F1C;
  outline: none;
  font-size: 1.25em;
  background-color: transparent;
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
}

.button-full {
  background-color: #E87F1C;
}

input[type=submit] {
  float: right;
}

.close {
  cursor: pointer;
}

.navbar {
  background-color: #311847!important;
}

*:focus {
  outline: none;
}

p {
  line-height: 1;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.css-transitions-only-after-page-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}