* {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: auto;
}

.post-selected {
  position: fixed;
  top: 32px;
  animation: expand 0.5s forwards;
  height: auto;
  overflow: hidden;
  z-index: 50;
}

.post-normal {
  animation: shrink 0.4s forwards;
}

@keyframes expand {
  0% {
    width: 300px;
    height: auto;
    font-size: 1em;
  }

  100% {
    width: 450px;
    height: auto;
    font-size: 1.25em;
  }
}

@keyframes shrink {
  100% {
    width: 300px;
    height: auto;
    font-size: 1em;
  }

  90% {
    position: relative;
  }

  0% {
    width: 450px;
    height: auto;
    font-size: 1.25em;
  }
}